Options +FollowSymLinks +ExecCGI
<IfModule mod_rewrite.c>
RewriteEngine On
AddType x-mapp-php5 .php
AddHandler x-mapp-php5 .php
# uncomment the following line, if you are having trouble
# getting no_script_name to work
RewriteBase /
# we skip all files with .something
RewriteCond %{REQUEST_URI} \..+$
RewriteCond %{REQUEST_URI} !\.html$
RewriteRule .* - [L]
# we check if the .html version is here (caching)
RewriteRule ^$ index.html [QSA]
RewriteRule ^([^.]+)$ $1.html [QSA]
RewriteRule ^send/ index.php?app=WebService [QSA] [cette ligne a été ajoutée]
RewriteCond %{REQUEST_FILENAME} !-f
# no, so we redirect to our front web controller
RewriteRule ^(.*)$ index.php?app=BackOffice [QSA,L] [cette ligne a été modifiée pour indiquer le bon chemin]
</IfModule>
